---
# Crash Course Python for Data Science - Intro to Pandas
---
# 02 - Indexing & Subsetting DataFrames
---

## STOP! BEFORE GOING ANY FURTHER...  

Remember, this exercises are open book, open neighbour, open everything! Try to do them on your own before looking at the solution samples.

### Import pandas

In [1]:
import pandas as pd
print('pandas imported!')

pandas imported!

### Read in your data
Your dataset can be found [here.](https://raw.githubusercontent.com/axrd/datasets/master/tipdata.csv)
Import it and return the first 5 rows:

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/axrd/datasets/master/tipdata.csv")
df.head()

   Unnamed: 0  total_bill   tip     sex smoker  day    time  size
0           0       16.99  1.01  Female     No  Sun  Dinner     2
1           1       10.34  1.66    Male     No  Sun  Dinner     3
2           2       21.01  3.50    Male     No  Sun  Dinner     3
3           3       23.68  3.31    Male     No  Sun  Dinner     2
4           4       24.59  3.61  Female     No  Sun  Dinner     4

### What is the shape of the DataFrame?

In [0]:
df.shape

### Get specific values

In [0]:
# What is the gender of the server in the 41st entry?

df.iloc[40]["sex"]

In [0]:
# Was the 22nd entry seated in a smoking section??

df.iloc[21]["smoker"]

### Get a range of values

In [0]:
# Return the last 20 entries

df.tail(20)

In [0]:
# Return entries 25 through 50

df.iloc[24:50]

### Filtering and subsetting:

In [0]:
# Return all the entres where the size is greater than 2.

df[df["size"] > 2]

In [0]:
# Create a Dataframe consisting only of data for Fridays. 
# Hint: You should have 19 values.


friday_df = df[df["day"] == "Fri"]
friday_df

### Well done! Make sure your save your work. See you on the next notebook. - G



---